* { 
    margin: 0 auto;
}


body {
    padding-bottom: 500px;
}

h2 {
    font-size: 22px;
    color: blue;
}

h3 {
    color: red;
}

.meu-titulo {
    color:orange
}

#ultimo-titulo {
    color:black
}

.fundo-azul {
    background-color: blue;
}

#minha-div {
    padding: 20px;
    background-image: url(/Construcao_Frontend/01-fundamentos/assets/fundo.webp);
}

#altura-largura {
    height: 200px;
    width: 200px;
    background-color: gray;
}

#div-espacamento {
    background-color: green;
    padding: 20px;
}

#div-margens {
    margin: 20px;
    background-color: brown;
}

#div-borda {
    margin-top: 20px;
    background-color: brown;
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

#div-arredondamento {
    margin-top: 20px;
    background-color: rgb(37, 109, 35);
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50px;
    text-align: center;
    padding-top: 50px;
}

.meu-texto {

    background-color: aqua;
    text-align: center;
    
}